<div class="user-card">
  <div class="user-card__avatar">
    <span class="initials">{{this.initials}}</span>
  </div>
  <div class="user-card__body">
    <p class="user-card__name">{{this.fullName}}</p>
    <p class="user-card__email">{{this.email}}</p>
  </div>
</div>
